set default=0
set timeout=3

insmod all_video
insmod png
set gfxmode=auto
terminal_output gfxterm
background_image /boot/grub/zaika.png
set menu_color_normal=white/black
set menu_color_highlight=yellow/black

set live="Zaika OS 1.0"
set debug_mode="Zaika OS (Debug mode)"

source /efi/boot/android.cfg